<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">></script>
<head>
<meta charset="ISO-8859-1">
<title>Shivansh's Details:</title>
</head>
<body>
<div ng-app="myApp" ng-controller="myctrl">

First Name:<input type="text" ng-model="firstname"><br>
Last Name:<input type="text" ng-model="Lastname"><br><br>
<br>
Full Name:{{firstname +" "+Lastname}}
</div>
<script>
var app=angular.module('myApp',[]);
app.controller('myctrl',function($scope)
{
   $scope.firstname="Shivansh";
   $scope.Lastname="Singh";
	
	
});
</script>
</body>
</html>